<div class="card">
  <%= link_to image_tag(share.image, class: :card_image ), share_path(share.id), method: :get %>
  <div class="card-body">
    <%# タイトルを表示 %>
    <p class="card-title">
      <%= share.title %>
    </p>
    <%# 投稿したユーザー名を表示 %>
    <%= link_to "#{share.user.nickname}", user_path(share.user.id), method: :get, class: :card_user %>
  </div>
</div>