<%= render "top/header" %>

<div class="main">

    <%# <div class="card-area"> %>
      <ul class='card-lists'>

          <% @shares.each do |share| %>
            <li class="card" >
              <%= link_to share_path(share.id) do %>
                <div class='share-img-content'>
                  <%= image_tag share.image, class: "share-img" %>
               </div>
                <div class='share-info'>
                  <div class="title">
                    <%= share.title %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
      </ul>
    <%# </div> %>


</div>
