<%= render "top/header" %>

<div class="main">

    <div class="card-area">
      <div class="card" >
        <% @shares.each do |share| %>
            <%= link_to shares_path(share.id) do %>
              <div class='share-img-content'>
                <%= image_tag share.image, class: "share-img" %>
              </div>
              <div class='share-info'>
                <div class="title">
                  <%= share.title %>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>


</div>
