a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
}

.card-area {
  background-color: thistle;
  width: 65%;
}

.card {
  background-color: rgb(82, 174, 231);
  height: 60px;
}

.share-img-content {
  display: flex;
  justify-content: center;
  height: 200px;
}


.share-info {
  background-color: salmon;
  height: 35px;
}

.title {
  font-size: 20px;
  text-align: center;
}