/* .header {
  background-color: rgb(204, 235, 159);
  margin: 0;
  padding: 20px 0;
  display: block;
} */
a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.greeting {
  font-size: 20px;
}

.greeting__link {
  text-decoration: none;
}

.share-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.share-img {
  width: 33vh;
  height: 33vh;
}

.share-img-content {
  position: relative;
}

.share-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}


.share-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.share-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.share-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

h3 {
 font-weight: bold;
 font-size: 20px;
}