<%= render "top/second-header" %>

<div class="user-show">
  <div class="user-card">
    <h2 class="user-page-heading">
      <%= "#{@user.nickname}さんのプロフィール" %>
    </h2>
    <div class="user-profile">
      <%= @user.profile %>
    </div>
  </div>

</div>