.second-header {
  width: 100vw;
  height: 100px;
  background-color: rgb(8, 204, 8);
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 35px;
  color: white;
  margin: auto;
  font-weight: bold;
}